<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Run Synthetic Tracker Optimizer</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Run Synthetic Tracker Optimizer</h1>
    <form id="runForm">
      <div>
        <label for="root_name">Name of study</label>
        <div class="description">
          Enter the name of the study.
        </div>
        <input type="text" name="root_name" id="root_name" placeholder="" required>
      </div>

      <div>
        <label for="n_files">Number of Synthetic Tracker Sequences</label>
        <div class="description">
          Enter the number of synthetic tracker sequences you wish to generate.
        </div>
        <input type="number" name="n_files" id="n_files" placeholder="5" required>
      </div>

      <div>
        <label for="trials">Number of Optuna Trials</label>
        <div class="description">
          Enter the number of trials for Optuna to optimize the tracker parameters.
        </div>
        <input type="number" name="trials" id="trials" placeholder="10" required>
      </div>

      <button type="submit">Run Script</button>
    </form>

    <h2>Output:</h2>
    <pre id="output"></pre>

    <div id="error" style="color: red;"></div>
  </div>

  <script src="{{ url_for('static', filename='listener.js') }}"></script>
</body>
</html>
